# Prerequisites
*.d

# Misc
/obj
/build
*.dat
*.rec
build.7z
build.zip

# Dump file
*.stackdump

# Compiled object files
*.o
*.lo
*.ko
*.elf
# Compiled Dynamic libraries
*.so.*
# Compiled Static libraries
*.lo
# Executables
*.i*86
*.x86_64
*.hex

# Visual Studio Code stuff
.vscode/*

# Useful for VS Code users
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Backup files
*.bak

# Temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# MSVC trash
msvc2003/CSE2.ncb
msvc2003/CSE2.suo
msvc2003/Debug
msvc2003/Release
*.aps
